{% extends 'base.html' %}

{% block title %} 
Eliminar Genero
{% endblock title%}

{% block contenido %}
<br>
<div class="d-grid gap-2">
    <a class="btn btn-primary" href={% url 'proyecto'%}>Volver al Proyecto</a>
    </div> 
    <br>
<div>
    <form action={% url "eliminar_genero" object.id %}  method="post">
         {% csrf_token %}
         <center>
         <h1><B><FONT COLOR="red">Esta seguro de Eliminar el GENERO?</FONT></h1>
            <br>
            <div class="d-grid gap-2"> 
         <button class="btn btn-danger">==>  ELIMINAR GENERO  <== </button>
    </form>
</div>

{% endblock contenido %}