{% extends 'base.html' %}

{% block title %} 
Lista de Album
{% endblock title%}

{% block contenido %}
<center>
    <center>
        <br>
        
            <a class="btn btn-secondary"<a href={% url 'proyecto'  %}>ir al Poyecto</a>
    
    <p>
        <div class="d-grid gap-2">
            <a class="btn btn-primary" href={% url 'crear_album'  %}>Crear ALBUM</a>
    </p>
    
</center>
<div>
    <div class="p-3 mb-2 bg-dark text-white">
    {% if object_list %}
    <h1>
     <ul class="list-grup-item list-grup-flush">
        {% for album in object_list %}
            {{album.nombre}}
            <li class="list-grup-item">
                
                <a class="btn btn-primary"<a href={% url 'mostrar_album' album.id %}>Mostrar Album</a>
                <a class="btn btn-success"<a href={% url 'editar_album' album.id %}>Editar Album</a>
                <a class="btn btn-warning"<a href={% url 'eliminar_album' album.id %}>Eliminar Album</a>
            </li>
        {% endfor %}
    </div>
    {% else %}
            <p> No hay ALBUM Registrado </p>
    {% endif%}
               
</div>
{% endblock contenido %}